/*For salvattore.com*/
@media screen and (min-width: 1200px) {
  .img-grid[data-columns]::before {
    content: '4 .column.col-xs-3';
  }
}
@media screen and (max-width: 480px){
  .img-grid[data-columns]::before {
    content: '1 .column.col-xs-12';
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-grid[data-columns]::before {
    content: '2 .column.col-xs-6';
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .img-grid[data-columns]::before {
  content: '3 .column.col-xs-4';
  }
}
/*Fin Salvattore*/


/*for tests*/
.border-dashed{
  border: dashed 1px
}

/*Fin For tests*/

.padding{
  padding: 10px;
}

div > img{
  margin-bottom: 20px;
}

/* Background */
#Background{
  background:url("../images/Background.jpg") no-repeat center fixed;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#Background1{
  background:url("../images/Bakground1.jpg") no-repeat center fixed;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#Menu{

  background-color: #6B8FD4;
}

.Submenu{
  background-color: #6B8FD4;
  display: none;
}

.Submenu:hover{
  display: block;
}

#navbar, #navbar-collapsed {
  transition-property: all;
  transition-duration: .5s; /* on aurait pu écrire 500ms également */
  transition-timing-function: ease-in;
  /*transition-delay: 1s;*/
}

.centré{
  width: 70%;
  margin: auto;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  background-color: unset !important;
}


li {
  list-style-type: none;
  text-align: -moz-left;
}


.border-dashed{
  border: dashed 1px
}
.padding{
  padding: 10px;
}


div > img{
  margin-bottom: 20px;
}

#main_div, #side_menu{
  padding-top: 100px;
}
/*minheignt sur le navbar*/



/*autgenerated*/
/*
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

!* Everything but the jumbotron gets side spacing for mobile first views *!
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

!* Custom page header *!
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
!* Make the masthead heading the same height as the navigation *!
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

!* Custom page footer *!
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

!* Main marketing message and sign up button *!
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

!* Supporting marketing content *!
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

!* Responsive: Portrait tablets and up *!
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  !* Remove the padding we set earlier *!
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  !* Space out the masthead *!
  .header {
    margin-bottom: 30px;
  }
  !* Remove the bottom border on the jumbotron for visual effect *!
  .jumbotron {
    border-bottom: 0;
  }
}
*/
