<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Content-Language" content="fr" />
    <meta name="Description" content="Page d'inscription" />
    <meta name="Subject" content="Formulaire d'inscription" />
    <meta name="Content-Type" content="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../main.css" />
    <!-- Test Jquery
    Ligne précédente:
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    -->
    <script src="../Jquery/Jquery.js"></script>
    <script src="form.js"></script>
    <title>Cult Of Moe - Inscription</title>
</head>

<body class="my_background" id="Background1">

<div class="container">
    <form role="form" id="register" method="post" action="SUCCESS">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1> Inscription <br/> <small> Merci de renseigner vos informations </small></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-3">
                <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Nom">
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="form-group">
                    <label for="Prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-7">
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-3">
                <div class="form-group">
                    <label for="Password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-5  col-md-1">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>