<!--Menu lateral-->
<div class="col-xs-2 padding" id="side_menu">
  <div class="well well-sm text-center center-block padding ">
    <img class="img-responsive text-center" src="../images/Shiro.jpg">
    <a class="centré" href="#">tag1</a>
    <br>
    <a class="centré" href="#">tag2</a>
    <br>
    <a class="centré" href="#">tag3</a>
    <br>
    <a class="centré" href="#">tag4</a>
  </div>
</div>
<!--fin menu lateral-->

<!--Main div-->
<div class="col-xs-10" id="main_div" >

  <div class="img-grid" data-columns>
    <div>
      <img class="img-responsive" src="../images/bob_ross.gif" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

    <div>
      <img class="img-responsive" src="../images/bob_ross.gif" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

    <div>
      <img class="img-responsive" src="../images/bob_ross.gif" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

    <div>
      <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
    </div>
    <div>
      <img class="img-responsive" src="../images/kitty.png" alt="Photo" />
    </div>

  </div>


  <!--<div class="row">
      <div class="col-xs-3" style="padding: 15px">
          <img class="img-responsive" src="../images/serge.jpg" alt="Photo" />
      </div>
      <div class="col-xs-3" style="padding: 15px">
          <img class="img-responsive" src="../images/toka.jpg" alt="Photo" />
      </div>
      <div class="col-xs-3" style="padding: 15px">
          <img class="img-responsive" src="../images/deemo.jpg" alt="Photo" />
      </div>
      <div class="col-xs-3" style="padding: 15px">
          <img class="img-responsive" src="../images/default.jpg" alt="Photo" />
      </div>
  </div>-->



</div>
<!--Fin Main div-->

<!--Salvattore-->
<script src="/bower_components/Salvattore/salvattore.js"></script>
